.header-colour {
  background: #52c234; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061700,
    #52c234
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061700,
    #52c234
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 10em;
}

.landing-grid {
  background: #52c234; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061700,
    #52c234
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061700,
    #52c234
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.avatar-img {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  max-width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.mdl-layout__header-row .mdl-navigation__link {
  display: block;
  padding-top: 2rem;
  margin-top: 3rem;
  color: rgb(255, 255, 255);
  line-height: 64px;
  padding: 0 24px;
  font-size: 30px;
}

.mdl-layout__header-row .mdl-layout-title {
  display: block;
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  padding-top: 2rem;
  margin-top: 3rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-bottom: 2.5rem;
}

.mdl-layout__header-row .mdl-layout-title a {
  color: white;
  text-decoration-line: none;
}

.mdl-layout__header--scroll .mdl-layout__header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 150px;
  margin: 0;
  padding: 0 40px 0 80px;
}

.banner-text {
  background-color: white;
  opacity: 0.8;
  width: 75%;
  margin-top: 3em;
  margin: auto;
  padding: 1em;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 4.75em;
  font-weight: bold;
  color: black;
}

.banner-text hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  font-size: 2em;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.projects-grid {
  display: grid;
  grid: 118px auto / 210px;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: #061700;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}

.rounded-btn {
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px black;
  display: block;
  font-size: 1.75em;
  height: 90px;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 90px;
  transition: all 0.5s;
  margin: 0.75rem;
}

.rounded-btn:hover {
  opacity: 4;
  background: green;
  /* transform: scale(1.5, 1.5); */
}

.title {
  font-size: 5rem;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.button-icon {
  padding-top: 0.85rem;
}
